@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

header span {
    width: 78px;
    height: 35px;
    font-family: Gilroy-Bold;
    font-size: 28px;
    line-height: 32.81px;
    color: #FFFFFF;
    margin-left: 80px;
    cursor: pointer;
}

li .dropdown {
    width: 18px;
    height: 18px;
    rotate: 90 deg;
    margin-left: 8px;
    cursor: pointer;
}

.list-wrapper {
    width: 478px;
    height: 22px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21.09px;
}

.cta-list {
    cursor: pointer;
}

.cart-icon{
    position: relative;
    width: 34px;
    height: 34px;
    border: none;
    background-color: transparent;

}

.bag-img {
    width: 25.5px;
    height: 28.33px;
    cursor: pointer;
}

.cart-icon span {
    
    
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    left:-93px;
    color: orange;
}


/* main */
#main {
    background: url(./media/Rectangle\ 1441.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1440 / 1084;
    height: 100vh;
    width: 100%;
    min-height: 1084px;
    display: flex;
    justify-content: center;
   

}

.main-wrapper {
    position: absolute;
    top: 161px;
    left: auto;
    right: auto;
    width: 861px;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    color: #FFFFFF;
}

.main-wrapper h1 {
    font-family: Gilroy-Bold;
    font-size: 80px;
    line-height: 104px;
    letter-spacing: -1px;
}

.main-wrapper p {
    
    text-align: center;
    margin-top: 14px;
    opacity: 80%;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: 38.4px;
}

.main-btn {
    width: 344px;
    height: 56px;
    padding: 8px 8px 8px 20px;
    margin-top: 45px;
    border-radius: 99px;
    background: #FFFFFF26;
    border: 0.86px solid #FFFFFF99;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main-btn input {
    background: none;
    border: none;
    border-radius: 99px;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    outline-width: 0;
}

.main-btn .search-container {
    width: 40px;
    height: 40px;
    background-color: #E58411;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon img{
    width: 18px;
    height: 18px;
}

.pot-circle {
    width: 10.29px;
    height: 10.29px;
    margin-top: 800px;
    margin-left: -1450px;
    border-radius: 50%;
  
}
.colors{
    border: 2px solid #ccb2b200;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
  

}

.click-scale:active{
    transform: scale(2.5);
}

/* choose wrapper section */
.choose-wrapper {
    background-color: #F7F7F7;
    height: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.choose-wrapper .main-text{
    width: 242px;
    height: 104px;

}
.choose-wrapper h2{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    color: #1E1E1E;
    
}
.text-content-wrapper{
    display: flex;
    gap: 28px;
}
.text-content-wrapper .content{
    width: 284px;
    height: 170px;
}
.content h3{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.71px;
    text-align: left;
    margin-bottom: 20px;
    
}
.content p{
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 29.6px;
    color: #1E1E1E;
    opacity: 80%;
}
.choose-btn{
    display: flex;
    align-items: center;
    gap: 23px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.9px;
    color: #E58411;
    border: none;
    background: transparent;
    cursor: pointer;
    
}