@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Gilroy-Bold',
sans-serif;
font-family: 'Gilroy-Heavy',
sans-serif;
font-family: 'Gilroy-Light',
sans-serif;
font-family: 'Gilroy-Medium',
sans-serif;
font-family: 'Gilroy-Regular',
sans-serif; */


h2 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
    color: #1E1E1E;

}

/* header */
header {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

header span {
    width: 78px;
    height: 35px;
    font-family: Gilroy-Bold;
    font-size: 28px;
    line-height: 32.81px;
    color: #FFFFFF;
    margin-left: 80px;
    cursor: pointer;
}

li .dropdown {
    width: 18px;
    height: 18px;
    rotate: 90 deg;
    margin-left: 8px;
    cursor: pointer;
}

.list-wrapper {
    width: 478px;
    height: 22px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 21.09px;
}

.cta-list {
    cursor: pointer;
}

.cart-icon {
    position: relative;
    width: 34px;
    height: 34px;
    border: none;
    background-color: transparent;

}

.bag-img {
    width: 25.5px;
    height: 28.33px;
    cursor: pointer;
}

.cart-icon span {


    font-size: 20px;
    font-weight: 800;
    position: absolute;
    left: -93px;
    color: orange;
}


/* main */
#main {
    background: url(./media/Rectangle\ 1441.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1440 / 1084;
    height: 100vh;
    width: 100%;
    min-height: 1084px;
    display: flex;
    justify-content: center;


}

.main-wrapper {
    position: absolute;
    top: 161px;
    left: auto;
    right: auto;
    width: 861px;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    color: #FFFFFF;
}

.main-wrapper h1 {
    font-family: Gilroy-Bold;
    font-size: 80px;
    line-height: 104px;
    letter-spacing: -1px;
}

.main-wrapper p {

    text-align: center;
    margin-top: 14px;
    opacity: 80%;
    font-family: Gilroy-Regular;
    font-size: 24px;
    line-height: 38.4px;
}

.main-btn {
    width: 344px;
    height: 56px;
    padding: 8px 8px 8px 20px;
    margin-top: 45px;
    border-radius: 99px;
    background: #FFFFFF26;
    border: 0.86px solid #FFFFFF99;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-btn input {
    background: none;
    border: none;
    border-radius: 99px;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 8px;
    outline-width: 0;
}

.main-btn .search-container {
    width: 40px;
    height: 40px;
    background-color: #E58411;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon img {
    width: 18px;
    height: 18px;
}

.pot-circle {
    width: 10.29px;
    height: 10.29px;
    margin-top: 800px;
    margin-left: -1450px;
    border-radius: 50%;

}

.colors {
    border: 2px solid #ccb2b200;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;


}

.click-scale:active {
    transform: scale(2.5);
}

/* choose wrapper section */
.choose-wrapper {
    background-color: #F7F7F7;
    height: 420px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.choose-wrapper .main-text {
    width: 242px;
    height: 104px;
}

.text-content-wrapper {
    display: flex;
    gap: 28px;
}

.text-content-wrapper .content {
    width: 284px;
    height: 170px;
}

.content h3 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.71px;
    text-align: left;
    margin-bottom: 20px;

}

.content p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 29.6px;
    color: #1E1E1E;
    opacity: 80%;
}

.choose-btn {
    display: flex;
    align-items: center;
    gap: 23px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25.9px;
    color: #E58411;
    border: none;
    background: transparent;
    cursor: pointer;
}

.choose-btn:hover {
    transform: scale(1.1);
}

/* section best seller wrapper */

.best-seller-wrapper {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #F7F7F7;
}

.best-seller-wrapper h2 {
    margin-bottom: 32px;
}

.best-seller-wrapper ul {
    width: 348px;
    height: 57px;
    padding: 6px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EEEEEE;
    list-style: none;
    border-radius: 99px;
}

.best-seller-wrapper ul li a {
    width: 84px;
    height: 45px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 33.3px;
    color: #1E1E1E;
    border-radius: 99px;
    text-decoration: none;

}

.best-seller-wrapper ul li a:hover {
    background-color: #FFFFFF;
    padding: 4px 8px;
    cursor: pointer;
}

.best-seller-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.09px;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.product img {
    width: 217.9px;
    height: 255.9px;
    margin-bottom: 47.22px;
}

.product-content .furniture-type {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16.76px;
    line-height: 20.28px;
    color: #8D8D8D;
}

.product-content h3 {
    font-family: Inter;
    font-size: 21.33px;
    font-weight: 600;
    line-height: 25.81px;
    text-align: left;
}

.price {
    width: 174px;
    height: 48.74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36.56px;
}

.price span {
    font-family: Inter;
    font-size: 21.33px;
    font-weight: 600;
    line-height: 25.81px;
    color: #0D1B39;

}

.price-btn {
    width: 48.74px;
    height: 48.74px;
    background-color: #0D1B39;
    border-radius: 50%;
    border: none;
    cursor: pointer;

}

.price-btn img {
    width: 24.37px;
    height: 24.37px;
    margin-top: 12px;
}

.rating svg {
    cursor: pointer;
}

.left-scroll-arrow,
.right-scroll-arrow {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.left-scroll-arrow:hover,
.right-scroll-arrow:hover {
    border: none;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0px 7.03px 19.53px 0px #0000000F;
}

.left-scroll-arrow {
    position: absolute;
    left: 170px
}

.right-scroll-arrow {
    position: absolute;
    right: 180px;
}

.view-all-btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 33.3px;
    color: #E58411;
    border: none;
    background-color: transparent;
    gap: 12px;
    cursor: pointer;
}

.view-all-btn:hover {
    transform: scale(1.1);
}

/* section  experience wrapper*/
.experience-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-background {
    position: absolute;
    z-index: -2;
    width: 430px;
    height: 422px;
    background-color: #F7F7F7;
    top: -66px;
    border-radius: 20px;
}

.right-background {
    position: absolute;
    top: 72px;
    right: -41px;
    z-index: -2;
    width: 495px;
    height: 301px;
    background-color: #F7F7F7;
    border-radius: 20px;
}

.bottom-background {
    position: absolute;
    top: 22px;
    z-index: -1;
    width: 555px;
    height: 423px;
    border-radius: 49px;
    box-shadow: 10px 30px 50px rgb(247, 213, 149);
    margin-bottom: 270px;
}

.experience-img {
    position: absolute;
    z-index: 99;
    width: 639px;
    height: 445px;
    top: 306px;
    left: 0;
}

.experience-wrapper .content-container {
    width: 556px;
    margin-left: 743px;
    margin-top: -160px;

}

.content-container span {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22.05px;
    letter-spacing: 17.5%;
    color: #E58411;
}

.content-container h3 {
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    margin-top: 20px;
    color: #1E1E1E;
}

.content-container p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 33.3px;
    opacity: 80%;
    columns: #1E1E1E;
    margin-top: 20px;
}

.content-container .choose-btn {
    margin-top: 24px;
}

/* section material wrapper */
.materials-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.materials-wrapper .content-container {
    width: 556px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-left: 80px;
}

.materials-img-wrapper {
    width: 710px;
    height: 616px;
    display: flex;
    gap: 42px;
    margin-left: -200px;
}

.materials-img-wrapper .materials-img-container {
    position: relative;
    width: 223px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.chair2-wrapper {
    width: 100%;
    height: 250px;
}

.chair2 {
    position: absolute;
    z-index: -1;
    top: 45px;
    left: 20px;
    width: 176px;
    height: 183px;
    border-radius: 29px;
    opacity: 50%;
    box-shadow: 10px 30px 50px rgba(172, 245, 239, 0.568);
}

.sofa2-wrapper {
    width: 100%;
    height: 338.42px;
}

.sofa2 {
    position: absolute;
    z-index: -1;
    top: 275px;
    left: 20px;
    width: 176px;
    height: 300px;
    border-radius: 29px;
    opacity: 50%;
    box-shadow: 10px 30px 50px rgba(212, 202, 153, 0.568);
}

.materials-img-wrapper .chairs {
    position: relative;
    margin-top: 139px;
}

.chairs img {
    position: absolute;
    /* left: 265px; */
    width: 629px;
    height: 445px;

}

.chairs-top-backgroung {
    position: absolute;
    top: -66px;
    left: 255px;
    z-index: -1;
    width: 375px;
    height: 422px;
    background-color: #F7F7F7;
    border-top-left-radius: 20px;
}

.chairs-bottom-backgroung {
    position: absolute;
    left: 27px;
    top: 20px;
    z-index: -1;
    width: 550px;
    height: 423px;
    opacity: 50%;
    box-shadow: 10px 30px 50px rgba(207, 170, 91, 0.568);
}

/* section reviews */
.review-wrapper{
    width: 100%;
    height: 100vh;  
   
}
.testimonials{
   width: 413px;
   height: 94px; 
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   
}
.testimonials span{
    color: #E58411;
    font-family:'Gilroy-Medium', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22.05px;
    letter-spacing: 17.5%; 
}
.testimonials h3{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    align-items: center;
}
.client-review-wrapper{
    width: 1180px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}